# Keep environment variables out of version control
/generated/prisma
# Variáveis de ambiente
.env

# Pasta de uploads (arquivos de exames enviados)
/src/uploads/

# Pastas de dependências e logs
node_modules
dist
.DS_Store